/* src/components/BetItem.module.css */

.betItem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #555555; /* Green background for each match */
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    text-decoration: none; /* Remove underline */
    transition: transform 0.2s;
}

.betItem:hover {
    transform: scale(1.02); /* Slight zoom effect on hover */
}

.betStatus {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.icon {
    font-size: 1.5em;
}

.betInfo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
}

.match {
    font-weight: bold;
    font-size: 1.2em;
}

.betType {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.odds {
    font-size: 1em;
    font-weight: bold;
    margin-left: 5px;
}

.totalOdds {
    font-size: 1.2em;
    font-weight: bold;
}
